In [3]:
#import data set
import numpy as np
import pandas as pd
import scipy.stats as stats
dataset = pd.read_csv("medical_clean.csv",encoding='latin-1')
dataset.head()
dataset.tail()

,City,State,County,Zip,Lat,Lng,Population,Area,TimeZone,Job,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
9995,Norlina,NC,Warren,27563,36.42886,-78.23716,4762,Urban,America/New_York,"Programmer, multimedia",...,6850.942,8927.642,3,2,2,3,4,3,4,2
9996,Milmay,NJ,Atlantic,8340,39.43609,-74.87302,1251,Urban,America/New_York,"Restaurant manager, fast food",...,7741.690,28507.150,3,3,4,2,5,3,4,4
9997,Southside,TN,Montgomery,37171,36.36655,-87.29988,532,Rural,America/Chicago,"Psychologist, occupational",...,8276.481,15281.210,3,3,3,4,4,2,3,2
9998,Quinn,SD,Pennington,57775,44.10354,-102.01590,271,Rural,America/Denver,Outdoor activities/education manager,...,7644.483,7781.678,5,5,3,4,4,3,4,3
9999,Coraopolis,PA,Allegheny,15108,40.49998,-80.19959,41524,Urban,America/New_York,Sports development officer,...,7887.553,11643.190,4,3,3,2,3,6,4,3

In [4]:
#create samples
highblood = dataset['HighBlood']
stroke= dataset['Stroke']
overweight= dataset['Overweight']
arthritis= dataset['Arthritis']
diabetes= dataset['Diabetes']
hyperlipidemia= dataset['Hyperlipidemia']
backpain= dataset['BackPain']
anxiety= dataset['Anxiety']
allergic_rhinitis= dataset['Allergic_rhinitis']
reflux_esophagitis= dataset['Reflux_esophagitis']
asthma= dataset['Asthma']

In [5]:
#create high risk samples 
high_complication = dataset.query('Complication_risk == "High"')

high_highblood = high_complication['HighBlood']
high_stroke= high_complication['Stroke']
high_overweight= high_complication['Overweight']
high_arthritis= high_complication['Arthritis']
high_diabetes= high_complication['Diabetes']
high_hyperlipidemia= high_complication['Hyperlipidemia']
high_backpain= high_complication['BackPain']
high_anxiety= high_complication['Anxiety']
high_allergic_rhinitis= high_complication['Allergic_rhinitis']
high_reflux_esophagitis= high_complication['Reflux_esophagitis']
high_asthma= high_complication['Asthma']

In [6]:
#create table
complication_risk= dataset['Complication_risk']

bool_complication_risk= complication_risk.eq('High').mul(1) 

table_highblood= pd.crosstab(highblood,bool_complication_risk)
table_stroke = pd.crosstab(stroke,bool_complication_risk)
table_overweight = pd.crosstab(overweight,bool_complication_risk)
table_arthritis = pd.crosstab(arthritis,bool_complication_risk)
table_diabetes = pd.crosstab(diabetes,bool_complication_risk)
table_hyperlipidemia = pd.crosstab(hyperlipidemia,bool_complication_risk)
table_backpain = pd.crosstab(backpain,bool_complication_risk)
table_anxiety = pd.crosstab(anxiety,bool_complication_risk)
table_allergic_rhinitis = pd.crosstab(allergic_rhinitis,bool_complication_risk)
table_reflux_esophagitis = pd.crosstab(reflux_esophagitis,bool_complication_risk)
table_asthma = pd.crosstab(highblood,bool_complication_risk)

In [7]:
# Perform Chi-square test 
chi_highblood= stats.fisher_exact(table_highblood, alternative='two-sided')
chi_stroke = stats.fisher_exact(table_stroke, alternative='two-sided')
chi_overweight= stats.fisher_exact(table_overweight, alternative='two-sided')
chi_arthritis = stats.fisher_exact(table_arthritis, alternative='two-sided')
chi_diabetes = stats.fisher_exact(table_diabetes, alternative='two-sided')
chi_hyperlipidemia = stats.fisher_exact(table_hyperlipidemia, alternative='two-sided')
chi_backpain = stats.fisher_exact(table_backpain, alternative='two-sided')
chi_anxiety = stats.fisher_exact(table_anxiety, alternative='two-sided')
chi_allergic_rhinitis = stats.fisher_exact(table_allergic_rhinitis, alternative='two-sided')
chi_reflux_esophagitis = stats.fisher_exact(table_reflux_esophagitis, alternative='two-sided')
chi_asthma = stats.fisher_exact(table_asthma, alternative='two-sided')

print(chi_highblood[1])
print(chi_stroke [1])
print(chi_overweight [1])
print(chi_arthritis[1])
print(chi_diabetes[1])
print(chi_hyperlipidemia[1])
print(chi_backpain[1])
print(chi_anxiety[1])
print(chi_allergic_rhinitis[1])
print(chi_reflux_esophagitis[1])
print(chi_asthma[1])

0.37736528325530694
0.9788574468106779
0.2630732179599654
0.037845369430349184
0.6691189267718523
0.5306502976362563
0.5186426792022009
0.7682863926419181
0.4746809688565172
0.6058826800371863
0.37736528325530694

In [ ]:
Chi